body {
    color:  BLUEVIOLET;
    background: blanchedalmond;
    margin: 0px;
}


header {
    border-bottom: solid 2px blue;
    padding: 20px;
    font-size: 32px;
    color: blue;
}

section {
    background: rgb(89,32,32)
}