body {
    color:  BLUEVIOLET;
    background: blanchedalmond;
    margin: 0px;
}


header {
    border-bottom: solid 2px rgb(4,4,4);
    padding: 20px;
    font-size: 32px;
    color: rgb(0,0,0);
}

section {
    background: blanchedalmond
    padding-bottom: 80px;
    padding-top: 80px;
}